article {
  background: #CDCDCD;
}
footer {
  background: #CDCDCD;
}
.kuvat {
  margin: auto;
  background:
  height: 20%;
  width: 20%;

}
#kuva1 {
  float: left;
  padding-left: 10%
}
#kuva2 {
  float: none;
  padding: 0% 10% 0% 10%
}
#kuva3 {
  float: right;
  padding-right: 10%
}
