body
{
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  background: #F00000;
  color: white;
  padding: 0px 50px 0px 50px
}
td {
  border: 1px solid black
}
tr:nth-child(odd) {
  background: #FFF000;
}
tr:nth-child(even) {
  background: #FFFFFF;
}
